@using College_Management_System.Models;
@model Schedules;
<h1 class="alert alert-success">Schedules Details</h1>
<div class="row col-6">
	<dl class="row">

		<dt class="col-2">@Html.DisplayNameFor(e=>Model.Id)</dt>
		<dd class="col-10">@Html.DisplayFor(e=>Model.Id)</dd>

		<dt class="col-2">@Html.DisplayNameFor(e=>Model.Day)</dt>
		<dd class="col-10">@Html.DisplayFor(e=>Model.Day)</dd>

		<dt class="col-2">@Html.DisplayNameFor(e=>Model.time_start)</dt>
		<dd class="col-10">@Html.DisplayFor(e=>Model.time_start)</dd>

		<dt class="col-2">@Html.DisplayNameFor(e=>Model.time_end)</dt>
		<dd class="col-10">@Html.DisplayFor(e=>Model.time_end)</dd>

	</dl>
	<form method="post" asp-controller="Schedules" asp-action="DeleteS">
		<input type="hidden" asp-for="Id" />
		<button type="submit" class="btn btn-danger">Delete</button>
	</form>
	<a class="btn btn-outline-info mt-1" asp-action="GetIndexView" asp-controller="Schedules">Back to list</a>
</div>

